<div class="alert alert-secondary" role="alert">
    <p><span class="fa fa-lock"></span> על מנת לגשת לשירות זה, אנא היכנס באמצעות חשבון Google שלך ב-@leyada.net <span class="fa fa-lock"></span></p>
    <p><span class="fa fa-lock"></span> In order to access this service, please log in using your @leyada.net Google account <span class="fa fa-lock"></span></p>
    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Sign-in with Google</a>
</div>