<small><a class="text-muted" href="/">Multimedia Services → </a></small>
<a class="navbar-brand" href="/carts" style="padding-top: 0; padding-bottom:0">
    <img src="/assets/cart1.png" width="30" height="30" alt="logo" class="rounded-circle">
    Carts
</a>